{% extends 'base.html'%} {%block title%} Login {%endblock%} {%block content%}
<div class="container">
  <form method="POST" class="form-register" style="color: white" action="">
    {{form.hidden_tag()}}
    <h1 class="h3 mb-3 mt-2 font-wight-normal text-center">
      Login
    </h1>
    <h5 class=" mb-3 mt-2 font-wight-normal text-center">Enter your Login Information</h5>

    <br />
    <div class="col-lg-8 col-md-10 col-sm-12 mr-auto ml-auto mb-3">
      {{form.username.label()}} 
      {{form.username(class="form-control",
      placeholder= "User Name")}}
    </div>
    <div class="col-lg-8 col-md-10 col-sm-12 mr-auto ml-auto mb-3">
      {{form.password.label()}} 
      {{form.password(class="form-control",
      placeholder= "Password")}}
    </div>
    {% with messages= get_flashed_messages(with_categories=true) %} 
        {% if messages %}
            {% for category, message in messages %}
              <div class="col-lg-8 col-md-10 col-sm-12 mr-auto ml-auto alert alert-{{category}}">
                <button type="button" class="m1-2 mb-1 close" data-dismiss='alert' aria-label="Close" >
                  <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
              </div>
            {%endfor%}
        {%endif%} 
      {%endwith%}
    <div class="col-lg-8 col-md-10 col-sm-12 mr-auto ml-auto">

        {{form.submit(class="btn btn-md btn-block  btn-primary")}}
    </div>
    

    <br>
    <div class="check-box mb-3 text-center">
        <h6>Do not have an account?</h6>
        <a href="{{url_for('register_page')}}" class="btn btn-sm btn-secondary">Register</a>

    </div>

    <br>

    {%endblock%}
  </form>
</div>
