{% extends 'base.html'%} {%block title%} Register {%endblock%} {%block content%}
<div class="container">
  <form method="POST" class="form-register" style="color: white" action="">
    {{form.hidden_tag()}}
    <h1 class="h3 mb-3 mt-2 font-wight-normal text-center">
      Create Your Account
    </h1>
    
    <br />
    <div class="col-lg-8 col-md-10 col-sm-12 mr-auto ml-auto mb-3">
      {{form.username.label()}} {{form.username(class="form-control",
      placeholder= "User Name")}}
    </div>
    <div class="col-lg-8 col-md-10 col-sm-12 mr-auto ml-auto mb-3">
      {{form.email_address.label()}} {{form.email_address(class="form-control",
      placeholder= "Email Address")}}
    </div>
    <div class="col-lg-8 col-md-10 col-sm-12 mr-auto ml-auto mb-3">
      {{form.password1.label()}} {{form.password1(class="form-control",
      placeholder= "Password")}}
    </div>
    <div class="col-lg-8 col-md-10 col-sm-12 mr-auto ml-auto mb-3">
      {{form.password2.label()}} {{form.password2(class="form-control",
      placeholder= "Confirm Password")}}
    </div>
    
    <div class="col-lg-8 col-md-10 col-sm-12 mr-auto ml-auto">

        {{form.submit(class="btn btn-md btn-block  btn-primary")}}
    </div>
    <div class="check-box mb-3 text-center">
        <h6>Already have an account?</h6>
        <a href="{{url_for('login_page')}}" class="btn btn-sm btn-secondary">Login</a>

    </div>
  </form>
</div>

{%endblock%}
